.navbar--logo {
    width:48px;
    height:48px;
    margin: 0 20px;
}

.navbar--exercises, .navbar--home{
    text-decoration: none;
    color: #3A1212;
}

.navbar--exercises:hover, .navbar--home:hover{
    border-bottom: 3px solid #ff3f3f;
}

.navbar{
    gap: 60px;
    font-size:24px;
    align-items:flex-end;
}

.navbar-wrapper{
    justify-content: space-around;
    margin-left: 20px;
}